:host {
  display: inline-block;
}

a {
  display: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  /**
    * @prop --owlly-signature-button-background: Button background
    * @default #fdc600
    */
  background: var(--owlly-signature-button-background, #fdc600);

  /**
    * @prop --owlly-signature-button-color: Button color
    * @default black
    */
  color: var(--owlly-signature-button-color, black);

  /**
    * @prop --owlly-signature-button-width: Button width
    * @default inherit
    */
  width: var(--owlly-signature-button-width, inherit);

  /**
    * @prop --owlly-signature-button-height: Button height
    * @default 40px
    */
  height: var(--owlly-signature-button-height, 40px);

  /**
    * @prop --owlly-signature-button-padding: Button padding
    * @default 8px 12px
    */
  padding: var(--owlly-signature-button-padding, 8px 12px);

  /**
    * @prop --owlly-signature-button-margin: Button margin
    * @default 16px 0
    */
  margin: var(--owlly-signature-button-margin, 16px 0);

  /**
    * @prop --owlly-signature-button-border-radius: Button border radius
    * @default 8px
    */
  border-radius: var(--owlly-signature-button-border-radius, 5px);

  border: none;

  /**
    * @prop --owlly-signature-button-google-font-family: Button font family.
    * @default inherit
    */
  font-family: var(--owlly-signature-button-google-font-familly, inherit);

  /**
    * @prop --owlly-signature-button-font-weight: Button font weight
    * @default 700
    */
  font-weight: var(--owlly-signature-button-font-weight, 700);

  /**
    * @prop --owlly-signature-button-font-size: Button font size
    * @default 1em
    */
  font-size: var(--owlly-signature-button-font-size, 1em);

  /**
    * @prop --owlly-signature-button-line-height: Button line height
    */
  line-height: var(--owlly-signature-button-line-height);

  overflow: hidden;
  position: relative;

  cursor: pointer;
}
